$base_bg_color: #fff
$base_text_color: #333
@import generic/dynamic-colors

$logo: 'what.png'
$urlicons: "forum_icons-black.png"

$color_red: #eb1212

$header_bg_color: $color_red
$link-color: $color_red
$link-hover-color: $base_text_color
$link-active-color: $link-color
$link-visited-color: $link-color

$header_link_color: #eee
$header_link_color_hover: #333

$menu_item_margin_left: 14px
$menu_item_padding: 2px 4px
$menu_item_bg_over: #fff

$header_separator_color: $color_red - #222
