@import generic/dynamic-colors
$header_background_gradient_color2: $header_background_color
$header_background_color: $header_background_color - #0a0a0a
$header_shadow_color: #eee
$header_border_bottom: 1px solid $border_color - #080808
$font_serif: $font_sans
$border_radius: 4px
$input_background: transparent
$input_shadow_color: #eee
$input_background_hover: #fff
$input_border_color: #e7e7e7
$base_bg_image: image-url("white2_bg.jpg")
