$content_margin_top: 50px !default
$content_min_height: 500px !default


body
  min-width: $blueprint-container-size + 20px

#header, #content, #footer
  +container

#content
  margin-top: $content_margin_top
  min-height: $content_min_height

.sidebar
  +column(3, true)
  float: right
  padding-left: 40px
  width: 216px

.main_column
  +column($blueprint-grid-columns - 3)

#header
  height: 180px
  overflow: visible
  position: relative
  z-index: 999

#logo
  +column(2)
  margin-top: 97px

#userinfo
  +column($blueprint-grid-columns, true)
  float: none
  position: absolute
  left: 0
  top: 10px

#menu
  +column($blueprint-grid-columns - 2, true)
  top: 101px
  left: 196px
  position: absolute

#searchbars
  +column($blueprint-grid-columns, true)
  height: 25px
  left: 0
  overflow: visible
  position: absolute
  top: 133px
  width: 960px

#userinfo_username, #userinfo_major, #userinfo_minor
  float: left
  width: 120px


