$colhead_dark_background: $header_color !default
$colhead_dark_color: false !default
$colhead_dark_padding: 0.5em !default

$head_strong_font: $font_serif !default
$head_strong_size: 16px !default

$box_border_bottom: 1px solid $border_color !default
$box_margin_bottom: 20px !default
$box_padding_bottom: $box_margin_bottom !default

.box
  border-bottom: $box_border_bottom
  margin-bottom: $box_margin_bottom
  padding-bottom: $box_padding_bottom
  &:last-child
    border-bottom: 0

.head strong
  font-size: $head_strong_size
  font-weight: bold
  @if $head_strong_font != $font_serif
    font-family: $head_strong_font

.head
  margin-bottom: 10px

#recommended .head a
  float: right

.time
  color: $text_color3
  float: right
  font-style: italic

#artist #content .linkbox:first-of-type
  text-align: right
  position: absolute
  top: 0
  left: 734px
  a
    margin-right: 5px

ul.stats
  padding: 0

.colhead_dark
  background: $colhead_dark_background
  padding: $colhead_dark_padding
  font-size: 12px
  font-weight: bold
  
  @if $colhead_dark_color
    color: $colhead_dark_color
    
  @if $border_radius != 0
    +border-radius($border_radius, $border_radius)

#content
  margin-top: 30px
  z-index: 100

#disclaimer_container
  width: 700px
  margin: -10px auto 10px auto

#alerts
  font-weight: bold
  top: 4px


#site_debug
  +container
  table
    border-bottom: 0
    margin: 0

pre
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace
  padding: 1em
